@import "tailwindcss";
@plugin "@tailwindcss/typography";
 

@theme {
  --color-primary-1: #6D7BF8;
  --color-primary-2: #5157F7;
  --font-sans: var(--font-poppins);
  --animate-marquee-left: marquee-left 28s linear infinite;
  --animate-marquee-right: marquee-right 28s linear infinite;
 }

body {
  background: white;
  font-family: var(--font-sans);
}

.blue-icon {
  filter:
    brightness(0)
    saturate(100%)
    invert(52%)
    sepia(87%)
    saturate(1800%)
    hue-rotate(205deg)
    brightness(100%)
    contrast(95%);
}
@keyframes marquee-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 12px));
  }
}

@keyframes marquee-right {
  from {
    transform: translateX(calc(-50% - 12px));
  }

  to {
    transform: translateX(0);
  }
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}